<!-- Skip to content link -->
<a href="#wmnds-main-content" title="Skip to main content" target="_self" class="wmnds-link wmnds-header__skip-link" >
  Skip to main content
</a>
<!-- Main header section -->
<header>
<div class="bg-white wmnds-p-t-md wmnds-p-b-md wmnds-cookies-banner">
  <div class="wmnds-container">
    <div class="wmnds-col-1 wmnds-col-md-3-4 wmnds-col-lg-2-3">
      <h3>Your privacy settings</h3>
      <p>
        We use cookies to help you with journey planning and relevant disruptions, remember your login and show you
        content you might be interested in. If you’re happy with the use of cookies by West Midlands Combined Authority
        and our selected partners, click ‘Accept all cookies’. Or click ‘Manage cookies’ to learn more.
      </p>
      <div class="wmnds-grid wmnds-grid--justify-between wmnds-cookies-banner__group-buttons">
        <button class="wmnds-btn wmnds-btn wmnds-col-1 wmnds-col-sm-1 wmnds-col-md-12-24  wmnds-cookies-banner__accept-all-cookies"  >
            Accept all cookies
        </button>
        <a href="/patterns/cookies/#cookies_manager" title="link title" target="_self" class="wmnds-btn wmnds-btn wmnds-col-1 wmnds-col-sm-1 wmnds-col-md-12-24">
          Manage Cookies
        </a>
      </div>
    </div>
  </div>
</div>
  <div class="wmnds-header">
    <div class="wmnds-container wmnds-grid wmnds-grid--align-center wmnds-grid--justify-between">
      <div class="wmnds-header__vertical-align wmnds-col-auto">
        <!-- Logo -->
        <a class="wmnds-header__logo-link" href="/" title="West Midlands Network Design System">
          <img class="wmnds-header__logo" alt="West Midlands Network logo" src="/img/logo.svg" />
        </a>
      </div>
      <!-- Header title -->
      <h1 class="wmnds-header__title wmnds-col-1 wmnds-col-sm-auto">
        Help a customer
      </h1>
    </div>
  </div>
  {% include "_layout/_partials/_service-navigation.njk" %}
</header>
      <div class="wmnds-container">
        <div class="wmnds-banner-container">
          <div class="wmnds-col-1">
            <div class="wmnds-banner-container__phase-wrapper">
              <a
                href="/"
                target="_self"
                class="wmnds-phase-indicator"
                title="West Midlands Network"
              >
                Prototype
              </a>
            </div>
            <p class="wmnds-banner-container__text">
              This isn't a real service.
            </p>
          </div>
        </div>
        <br />
      <a href="#" title="link title" target="_self" class="wmnds-link" >
      &lt; Back
    </a>
    <br />
      </div>