<div class="wmnds-container">
    <div class="wmnds-col-1 serviceNav">
        <div class="wmnds-grid">
            <div class="wmnds-col-1-2 wmnds-p-sm">
            <span class="wmnds-float-left" style="color:white">You're logged in as <strong>Deborah Cadman</strong></span>
            </div>
            <div class="wmnds-col-1-2 wmnds-p-sm">
            <a class="wmnds-link wmnds-float-right" href="#" style="color:white">Log out</a>
            </div>
        </div>
    </div>
</div>